<div class="calendar">

  <div class="date-display">
    <div class="header">
      <span>{{selectedDate}}</span>
    </div>

    <div class="display-date">
      <div class="month-day">
        <span class="month">{{selectedMonth}} </span>
        <span class="day"> {{selectedDay}}</span>
      </div>
      <div class="year">{{selectedYear}}</div>
      {{#if showTime}}
        <div class="time-bar">
          <div class="calendar-icon" {{ action 'showCalendarPanel' }}></div>
          <div class="time time-text" style="width: 60%; float: left;">{{selectedTime}}</div>
          <div class="clock-icon" {{ action 'showTimeSelector' }}></div>

          <div style="clear: both;"></div>
        </div>
      {{/if}}
    </div>
  </div>

  {{#if showCalendarPanel}}
    {{ smd-calendar-panel toggleAction='toggleMonthView' navAction='changeMonth' }}
  {{/if}}

  {{#if showMonthSelector}}
    {{ smd-month-selector }}
  {{/if}}

  {{#if showYearSelector}}
    {{ smd-year-selector }}
  {{/if}}

  {{#if showTimeSelector}}
    {{ smd-time-selector }}
  {{/if}}

</div>

<div class="window-actions">
  <div>Cancel</div>
  <div>Ok</div>
</div>
