<div class="calendar">

  <div class="date-display">
    <div class="smd-datepicker__header">
      <span>{{selectedDate}}</span>
    </div>

    <div class="smd-datepicker__display-date">
      <div class="month-day">
        <span class="month">{{selectedMonth}} </span>
        <span class="day"> {{selectedDay}}</span>
      </div>
      <div class="year">{{selectedYear}}</div>
      {{#if showTime}}
        <div class="time-bar">

          <div class="time time-text">{{selectedTime}}</div>

          <div class="time-bar__icons">
            <div class="calendar-icon" {{ action 'showCalendarPanel' }}></div>
            <div class="clock-icon" {{ action 'showTimeSelector' }}></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="calendar-display">
    {{#if showCalendarPanel}}
      {{ smd-calendar-panel toggleAction='toggleMonthView' navAction='changeMonth' }}
    {{/if}}

    {{#if showMonthSelector}}
      {{ smd-month-selector }}
    {{/if}}

    {{#if showYearSelector}}
      {{ smd-year-selector }}
    {{/if}}

    {{#if showTimeSelector}}
      {{ smd-time-selector }}
    {{/if}}


    <div class="window-actions">
      <div {{ action "cancel"}}>{{ cancelText }}</div>
      <div {{ action "confirm"}}>{{ confirmText }}</div>
    </div>
  </div>

</div>
